name: Docker Linux install tests

on:
  push:
    branches: ["main", "master"]
  pull_request:

jobs:
  docker-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: ubuntu24
            dockerfile: docker/Dockerfile
          - name: ubuntu22
            dockerfile: docker/Dockerfile.ubuntu22
          - name: rhel8
            dockerfile: docker/Dockerfile.rhel8
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build image
        run: docker build -f ${{ matrix.dockerfile }} -t scooti-test:${{ matrix.name }} .

      - name: CLI help
        run: docker run --rm scooti-test:${{ matrix.name }} /bin/bash -lc "conda run -n scooti scooti -h"

      - name: Scanpy import
        run: docker run --rm scooti-test:${{ matrix.name }} /bin/bash -lc "NUMBA_CACHE_DIR=/tmp/numba_cache conda run -n scooti python -c \"import scanpy as sc; print(sc.__version__)\""

      - name: SCOOTI import
        run: docker run --rm scooti-test:${{ matrix.name }} /bin/bash -lc "NUMBA_CACHE_DIR=/tmp/numba_cache conda run -n scooti python -c \"import scooti; scooti.load(); print('scooti load ok')\""
